{{>head}}
<div class="w-[90%] lg:w-[60%] mx-auto bg-gray-800 p-4 rounded-lg shadow-lg m-6">
<h1 class="text-3xl font-semibold text-center text-orange-400">Hi chat!</h1>
<div class="flex m-2 items-center">
  <button hx-get="/count" hx-target="#visitors"
    class="btn btn-primary ml-3">
    Visitors
  </button>
  <span id="visitors" class="m-3"></span>
  <button id="connect" class="btn btn-primary p-2 mr-3">Connect</button>
  <span class="mr-3">Status:</span>
  <span id="status" class="rounded-lg p-2 mr-3">Disconnected</span>
</div>

<div id="log"></div>

<form id="chatform" class="mt-4 flex items-center">
  <input type="text" id="text" placeholder="Enter a command or message" class="w-full p-2 bg-gray-600 rounded-lg"/>
  <input type="submit" id="send" value=">" class="p-2 bg-green-600 rounded ml-2 cursor-pointer"/>
</form>

<hr />

<section>
  <h2>Commands</h2>
  <table class="w-full border-collapse">
    <tr>
      <td class="p-2">
        <code>/list</code>
      </td>
      <td class="p-2">list all available rooms</td>
    </tr>
    <tr>
      <td class="p-2">
        <code>/join name</code>
      </td>
      <td class="p-2">join room, if room does not exist, create new one</td>
    </tr>
    <tr>
      <td class="p-2">
        <code>/name name</code>
      </td>
      <td class="p-2">set session name</td>
    </tr>
    <tr>
      <td class="p-2">
        <code>some message</code>
      </td>
      <td class="p-2">just string, send message to all peers in same room</td>
    </tr>
  </table>
</section>
</div>
    <script>
      const $status = document.querySelector('#status')
      const $connectButton = document.querySelector('#connect')
      const $log = document.querySelector('#log')
      const $form = document.querySelector('#chatform')
      const $input = document.querySelector('#text')

      /** @type {WebSocket | null} */
      var socket = null

      function log(msg, type = 'status') {
        const isStart = type === 'message-start'
        const isEnd = type === 'message-end'
        const startClass = isStart ? 'chat-start' : ''
        const endClass = isEnd ? 'chat-end' : ''
        const bubble = isStart ? 'chat-bubble-primary' : 'chat-bubble-secondary'
        $log.innerHTML += `<div class="chat ${startClass} ${endClass}"><div class="chat-bubble ${bubble} mt-2">${msg}</div></div>`
        $log.scrollTop += 1000
      }

      function connect() {
        disconnect()

        const { location } = window

        const proto = location.protocol.startsWith('https') ? 'wss' : 'ws'
        const wsUri = `${proto}://${location.host}/ws`

        socket = new WebSocket(wsUri)

        socket.onopen = () => {
          updateConnectionStatus()
        }

        socket.onmessage = (ev) => {
          log('Received: ' + ev.data, 'message-start')
        }

        socket.onclose = () => {
          socket = null
          updateConnectionStatus()
        }
      }

      function disconnect() {
        if (socket) {
          socket.close()
          socket = null

          updateConnectionStatus()
        }
      }

      function updateConnectionStatus() {
        if (socket) {
          $status.style.color = 'green'
          $status.textContent = `connected`
          $connectButton.innerHTML = 'Disconnect'
          $connectButton.className = 'btn btn-accent p-2 mr-3'
          $input.focus()
        } else {
          $status.style.color = 'orange'
          $status.textContent = 'disconnected'
          $connectButton.textContent = 'Connect'
          $connectButton.className = 'btn btn-primary p-2 mr-3'
        }
      }

      $connectButton.addEventListener('click', () => {
        if (socket) {
          disconnect()
        } else {
          connect()
        }

        updateConnectionStatus()
      })

      $form.addEventListener('submit', (ev) => {
        ev.preventDefault()
        const text = $input.value

        log('Sending: ' + text,  'message-end')
        socket.send(text)

        $input.value = ''
        $input.focus()
      })

      updateConnectionStatus()

    </script>

