<!DOCTYPE html>
{{> head}}
<main class="h-fit text-center p-8">
<div class="lg:w-1/2 mx-auto mb-12 shadow-2xl p-5">
  <img src="/images/me.jpg" class="mask mask-squircle w-20 h-20 m-auto mb-3">
  <h2 class="font-bold text-orange-200 py-2 text-2xl">
    Neil Campos
  </h2>
  <h3 class="text-xl p-8">Fullstack developer, especialized in <span class="text-teal-500">backend services</span>.
    Join me down and let's get cracking!.</h3>

  <div class="h-10 flex justify-center bg-indigo-400 rounded-lg mt-6">
    <a href="https://github.com/neil-ca" target="_blank" class="tooltip" data-tip="Github">
    <img src="/images/git.svg" class="w-6 h-6 hover:w-7 hover:h-7 m-2"></a>
    <img _="on click js navigator.clipboard.writeText('ulicode4@gmail.com')
    end then put 'Copied!' into #message wait 2s put '' into #message" 
        src="/images/mail.svg" class="w-6 h-6 hover:w-7 hover:h-7 m-2 cursor-pointer"/>
    {{#if cookie}}
        <img src="/images/heart.svg" class="w-6 h-6 hover:w-7 hover:h-7 m-2 cursor-pointer"
            hx-post="/like" hx-swap="outerHTML"
            _="on htmx:afterOnLoad put 'Thank you!' into #message2 wait 1s put '' into #message2"
        />
    {{else}}
        <img src="/images/dislike.svg" class="w-6 h-6 hover:w-7 hover:h-7 m-2 cursor-pointer"
            hx-post="/like" hx-swap="outerHTML"
            _="on htmx:afterOnLoad put 'Thank you!' into #message2 wait 1s put '' into #message2"
        />
    {{/if}}
  </div>
    <span id="message"></span>
    <span id="message2"></span>
</div>
  <section>
    <div class="mb-7">
        <h3 class="text-3xl text-orange-200 py-1">Services I offer</h3>
        <p class="p-6 text-md leading-8 md:text-xl max-w-xl mx-auto font-bree">
          Throughout my journey as a full-stack developer, I've had the privilege
          of leveraging my skills to transform and enhance various web platforms.
          I thrive on solving complex challanges, optimizing performance, and driving
          tangible results for businesses. My expertise spans across diverse sectors, 
          notably the <span class="text-teal-500">healthcare industry</span>
          and innovative <span class="text-teal-500">marketplace platforms</span>.
          As a dedicated full-stack developer, I am passionate about creating seamless user experiences, 
          optimizing system architectures, and contributing to the success stories of businesses worldwide.
        </p>
      </div>

      <div class="flex flex-col justify-between items-center lg:flex-row gap-7">

        <div class="card w-96 bg-base-100 shadow-2xl">
          <img src="/images/web4.png" class="image-full">
          <div class="card-body">
          <h2 class="card-title">
          Realtime apps
          </h2>
          <p>
            I develop real-time applications designed to enhance decision-making
            precision. These applications include features such as chat functionality,
            system notifications, and the ability to capture and represent data
            changes effectively through intuitive dashboards. Additionally, I possess
            expertise in creating publish and subscribe (pub/sub) distributed systems.
          </p>
          <div class="card-actions justify-end">
            <p class="badge badge-secondary">WebSockets</p>
            <p class="badge badge-secondary">Redis</p>
            <p class="badge badge-secondary">Databases</p>
          </div>
          <a href="/chat" class="btn btn-outline">Example</a>
          </div>
        </div>

        <div class="card w-96 bg-base shadow-2xl">
          <img src="/images/web3.png">
          <div class="card-body">
          <h2 class="card-title">
            Creation of API's and integration
          </h2>
          <p>
            I specialize in constructing reliable and scalable APIs tailored to
            your specific requirements. Furthermore, I excel in deploying these
            APIs in the cloud, comprehensive testing methodologies, ensuring the
            robustness and effectiveness of the deployed solutions.
          </p>
          <div class="card-actions justify-end">
          <p class="badge badge-secondary">Databases</p>
          <p class="badge badge-secondary">API's</p>
          <p class="badge badge-secondary">Testing</p>
          </div>
           <a href="https://github.com/neil-ca/zero2prod" target="_blank" class="btn btn-outline">Example</a>
          </div>
        </div>

        <div class="card w-96 bg-base shadow-2xl">
          <img src="/images/web2.png">
          <div class="card-body">
          <h2 class="card-title">
            Multi-Tenant B2B
          </h2>
          <p>
            Full-stack applications specializing in the development of (SAAS) products,
            emphasizing database robustness, tolerance, and replication. I prioritize
            rapid development for efficient proof of concept delivery.
          </p>
          <div class="card-actions justify-end">
          <p class="badge badge-secondary">Databases</p>
          <p class="badge badge-secondary">Javascript</p>
          <p class="badge badge-secondary">Kubernates</p>
          </div>
           <a href="https://beth.ulicode.space" target="_blank" class="btn btn-outline">Example</a>
          </div>
        </div>

      </div>
      </div>
    </section>
</main>
