{{> head}}
<body>
  <div class="flex justify-end p-6">
    <img src="/images/logo.png"/>
    <a href="/contacts" class="x-4 py-1 text-sm text-purple-600 font-semibold rounded-full border border-purple-200 hover:text-white hover:bg-purple-600 hover:border-transparent">{{name}}</a>
    <a href="/blog" class="x-4 py-1 text-sm text-purple-600 font-semibold rounded-full border border-purple-200 hover:text-white hover:bg-purple-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-purple-600">Blog</a>
  </div>


  <div _="on click call alert('You clicked me!')">
  Click Me!
</div>
<button script="on click toggle .red on me">
Click Me
</button>

</body>
