<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="css/style.css" rel="stylesheet" />
    <script
      src="https://unpkg.com/htmx.org@1.9.3"
      integrity="sha384-lVb3Rd/Ca0AxaoZg5sACe8FJKF0tnUgR2Kd7ehUOG5GCcROv5uBIZsOqovBAcWua"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-pink-50">
    {% include "nav.html" %}
    <h1 class="text-3xl font-bold underline">Hello, {{ name }}!</h1>
    <button
      class="bg-rose-100 hover:bg-rose-200"
      hx-get="/api/data"
      hx-swap="innerHTML"
      hx-target="#data-container"
    >
      Fetch
    </button>
    <div id="data-container" class="bg-rose-300"></div>
    {% let foo = "asdf" %} {{ foo }}

    <form action="/contacts" method="get" class="tool-bar">
      <label for="search">Search Term</label>
      <input
        id="search"
        type="search"
        name="q"
      />
      <input type="submit" value="Search" />
    </form>
    <div class="flex">
        <div>
            <img src={{ image_url }} size="100x100" />
        </div>
        <h1>Welcome to NorthBy</h1>
        <h2>A premium in sight and sound</h2>
        <button>Learn more</button>
    </div>
  </body>
</html>
