{{> head}}
<main class="h-fit text-center p-8">
<div class="w-[70%] mx-auto shadow-xl shadow-red-300 border-red-50 rounded-md mb-12">
  <img src="/images/me.jpg" class="rounded-full w-20 h-20 m-auto mb-3">
  <h2 class="font-bold text-orange-200 text-2xl py-2 md:text-xl">
    Neil Campos - Web Developer
  </h2>
  <h3 class="text-2xl">Fullstack</h3>
  <p class="text-md py-6 m-2 leading-9">
    Freelancer providing services for programming and design content needs. Join
    me down and let's get cracking!
  </p>

  <div class="flex flex-row justify-center items-center bg-red-300 rounded-md mt-3">
    <a href="https://github.com/neil-ca" target="_blank"><img src="/images/git.svg" class="w-6 h-6 hover:w-7 hover:h-7 m-2"></a>
    <a href="malito:ulicode4@gmail.com"><img src="/images/mail.svg" class="w-6 h-6 hover:w-7 hover:h-7 m-2"></a>
    <a href="https://www.linkedin.com/in/neil-campos" target="_blank"><img src="/images/linkedin.svg" class="w-6 h-6 hover:w-7 hover:h-7 m-2"></a>
    {{#if cookie}}
        <img src="/images/heart.svg" class="w-6 h-6 hover:w-7 hover:h-7 m-2 animate-pulse"
            hx-post="/like" hx-swap="outerHTML"/>
    {{else}}
        <img src="/images/dislike.svg" class="w-6 h-6 hover:w-7 hover:h-7 m-2 animate-pulse"
            hx-post="/like" hx-swap="outerHTML"/>
    {{/if}}
  </div>
</div>
    <section>
        <div>
            <h3 class="text-3xl text-orange-200 py-1">Services I offer</h3>
            <p class="text-md leading-8 md:text-xl max-w-xl mx-auto">
              Since the beginning of my journey as a frelance designes and
              develope, I've done remote work for{" "}
              <span className="text-teal-500">agencies </span>
              consulted for <span class="text-teal-500">startups </span>
              and collaborated with talented people to create apps for both
              business and consumer use.
            </p>
          </div>
          <div class="lg:flex gap-10">
            <div class="text-center shadow-lg shadow-lime-200 p-10 rounded-xl my-10">
              <h3 class="text-lg font-medium text-orange-300 pt-8 pb-2">
                Beatiful designs
              </h3>
              <p class="py-2">
                Creating elegant designs suited for your next design theory.
              </p>
              <h4 class="py-4 text-teal-600">Design tools I use</h4>
              <p>Photoshop</p>
              <p>Kafka</p>
              <p>Frontend</p>
            </div>
            <div class="text-center shadow-lg shadow-lime-200 p-10 rounded-xl my-10">
              <h3 class="text-lg font-medium text-orange-300 pt-8 pb-2">
                Beatiful designs
              </h3>
              <p class="py-2">
                Creating elegant designs suited for your next design theory.
              </p>
              <h4 class="py-4 text-teal-600">Design tools I use</h4>
              <p class="py-1">Databases</p>
              <p class="py-1">API's</p>
              <p class="py-1">Docker</p>
            </div>

            <div class="text-center shadow-lg shadow-lime-200 p-10 rounded-xl my-10">
              <h3 class="text-lg font-medium text-orange-300 pt-8 pb-2">
                Beatiful designs
              </h3>
              <p class="py-2">
                Creating elegant designs suited for your next design theory.
              </p>
              <h4 class="py-4 text-teal-600">Design tools I use</h4>
              <p>Photoshop</p>
              <p>Linux</p>
              <p>Databases</p>
            </div>
            <div class="text-center shadow-lg shadow-lime-200 p-10 rounded-xl my-10">
              <h3 class="text-lg font-medium text-orange-300 pt-8 pb-2">
                Beatiful designs
              </h3>
              <p class="py-2">
                Creating elegant designs suited for your next design theory.
              </p>
              <h4 class="py-4 text-teal-600">Design tools I use</h4>
              <p>Photoshop</p>
              <p>Linux</p>
              <p>Databases</p>
            </div>
          </div>
          </div>

        </section>
</main>
