{{> head}}
<main class="bg-slate-800 h-full text-center p-10 text-sky-100">
  <h2 className="text-5xl py-2 text-teal-600 font-medium md:text-6xl">
    Neil Campos
  </h2>
  <h3 className="text-2xl py-2">Developer and designer</h3>
  <p className="text-md py-5 leading-8 text-gray-800 dark:text-pink-200">
    Freelancer providing services for programming and design content needs. Join
    me down and let's get cracking!
  </p>

  <div className="text-5xl flex justify-center gap-16 py-3 text-gray-600">
    <img src="/images/git.svg" alt="" class="w-12 h-12">
    <img src="/images/mail.svg" alt="" class="w-12 h-12">
    <img src="/images/linkedin.svg" alt="" class="w-12 h-12">
  </div>
</main>
